<!DOCTYPE html>
<html lang="en">

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>

<link rel="stylesheet" type="text/css" href="/css/stat.css">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {
    'packages': ['corechart']
  });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    // var data = google.visualization.arrayToDataTable([
    //   ['Task', 'Hours per Day'],
    //   ['Work', 11],
    //   ['Eat', 2],
    //   ['Commute', 2],
    //   ['Watch TV', 2],
    //   ['Sleep', 7]
    // ]);

    console.log('cc', parseInt('<%= results[0].cnt %>'));

    var data_age = google.visualization.arrayToDataTable([
      ['Age', 'dd'],
      ['<%= results[0].category %>', parseInt('<%= results[0].cnt %>')],
      ['<%= results[1].category %>', parseInt('<%= results[1].cnt %>')],
      ['<%= results[2].category %>', parseInt('<%= results[2].cnt %>')],
      ['<%= results[3].category %>', parseInt('<%= results[3].cnt %>')],
      ['<%= results[4].category %>', parseInt('<%= results[4].cnt %>')]
    ]);


    var options = {
      colors: ['#95E2F5', '#99B1DE', '#9489F5', '#C099DE', '#FCC7FA']
    };

    var chart = new google.visualization.PieChart(document.getElementById('cat_byAge'));

    chart.draw(data_age, options);
  }
</script>
</head>
<header>
  <%- include('../header') %>
</header>

<body>
  <p><%= userName %>님은 <br>상위 5%</br>입니다.</p>
  <div>
    <p>나이대별 카테고리 비율</p>
    <div id="cat_byAge" style="width: 900px; height: 500px;"></div>
  </div>
  <div>
    <p>나이대별 카테고리 비율</p>
    <div id="acc_byAge" style="width: 900px; height: 500px;"></div>
  </div>
  <div>
    <p>나이대별 카테고리 비율</p>
    <div id="acc_byCat" style="width: 900px; height: 500px;"></div>
  </div>
</body>

</html>