<header>
    <nav id='top'>
      <ul class="topmenu">
        <li>
          <h3 id="logo">Study With Me!</h3>
        </li>
        <li><a id="home">Home</a></li>
        <li><a id="record">Record</a></li>
        <li><a id="about">About</a></li>
        <li><a id="contact">Contact</a></li>
      </ul>
    </nav>

    <!-- <div id="register">
      <button id="login" type="button" onclick="location.href='/login'">Login</button>
      <button id="join" type="button" onclick="location.href='/register'">JOIN US &nbsp →</button>
    </div> -->
  </header>
