<DOCTYPE HTML5>
  <html>

  <head>
    <link rel="stylesheet" type="text/css" href="/css/main2.css">
    <link rel="stylesheet" type="text/css" href="/css/search.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap"
      rel="stylesheet">

    <script>
      const TODAY_RANK = '<%= rankuser %>';
    </script>
    <script defer src="/js/main.js"></script>
  </head>

  <body>


    <div id="background">
      <div id="pinkrectangle"></div>
      <div id="bluerectangle"></div>
    </div>

    <!-- 헤더 -->

    <%- include('header') %> 
    <header>
      <nav id='top'>
        <ul class="topmenu">
          <li>
            <h3 id="logo">Study With Me!</h3>
          </li>
          <li><a id="home">Home</a></li>
          <li><a id="record" onclick="location.href='/stat'">Record</a></li>
          <li><a id="about">About</a></li>
          <li><a id="contact">Contact</a></li>
        </ul>
      </nav>

      <div id="nav_user">
        <% if(!flag){  %>
        <button id="login" type="button" onclick="location.href='/login'">Login</button>
        <button class="nav-button" id="join" type="button" onclick="location.href='/register'">JOIN US &nbsp →</button>
        <% } else {%>
        <!-- <button id="login" type="button" onclick="location.href='/login'">Logout</button> -->
        <button id="username" class="username"><%= userName %> 님 &#9660</button>
        <button class="nav-button" id="mypage" type="button" onclick="location.href='/mypage'">MyPage &nbsp →</button>
        <div id="logout" onclick="location.href='/logout'">로그아웃</div>
        <% } %>
      </div>
    </header>


    <!-- 가운데 로고, 버튼-->

    <div id="center">
      <div id="centerlogo">

        <h5 id="logotag">Online Study Room</h5>
        <h1 id="mainlogo"> Study <br> With Me! <br> on Online!</h1>
        <h4 id="subtitle">It's better to study together more than alone</h4>

        <div id='btncenter'>
          <button id="btnmakeroom" type="button" onclick="location.href='/room/roominfo'">Make Room</button>
          <button id="gotosearch" type="button" onclick="location.href='#search';">Search</button>
        </div>

      </div>
    </div>

    <!-- 누적시간 랭킹 -->

    <div id="todaylanking">

      <h2 id="lankingtitle">Today's Lanking</h2>

      <div class="box" id="lankingbox1">
        <% rankuser.slice(0,4).forEach(function(item, index){ %>
        <div class="lanking" id="lanking1">
          <h3 class="name" id="name1"><%= index+1 %>. <%= item.userName %> 님</h3>
          <hr class="redhr">
          <p class="time" id="time1"><%= item.h %> : <%= item.m %> : <%= item.s %></p>
          <p class="tag" id="tag1">#<%= item.category %></p>
        </div>
        <%  })%>
      </div>


      <div class="box" id="lankingbox2">
        <% rankuser.slice(4,8).forEach(function(item, index){ %>
        <div class="lanking" id="lanking1">
          <h3 class="name" id="name1"><%= index+5 %>. <%= item.userName %> 님</h3>
          <hr class="redhr">
          <p class="time" id="time1"><%= item.h %> : <%= item.m %> : <%= item.s %></p>
          <p class="tag" id="tag1">#<%= item.category %></p>
        </div>
        <%  })%>
      </div>
    </div>
    </div>

    <!-- 방 검색 -->

    <div id="search">
      <div id="searchtxt">
        <h6 id="searchtag">Let's study!</h6>
        <h1 id="searchtitle">Search Study Room</h1>
        <p id="searchsubtitle">Search what you want to join in</p>
      </div>
      <form action="/search" method="GET">
        <div id="searchbar">
          <input type="text" id="searchinput" name="searchinput" placeholder="Study Room">
          <!-- <button id="searchbtn" type="button" onclick="location.href='/search'">Search</button> -->
          <button id="searchbtn" type="submit">Search</button>
        </div>
      </form>
    </div>


    <!-- 로고(그림) -->

    <div id="introduce">

      <div id="logoicon">
        <div class="logoicon" id="iconbottom"></div>
        <div class="logoicon" id="icontop">SWM</div>
      </div>

      <div id="abouttxt">
        <hr id="hrabout">
        <h2 id="aboutswm">About, <br>SWM</h2>
        <p id="aboutsub">introduce what is “Study with Me!”</p>
        <a id="more">Learn More &nbsp&nbsp 〉</a>
      </div>


      <!-- 방 목록 -->
      <div id="studyroomlist">

        <div id="roomlisttxt">
          <h2 id="roomlisttitle">Study Room List</h2>
          <p id="roomlistitlesub">Look up Best Study Room</p>
        </div>

        <div class="roomlist" id="roomlist">
          <div class="room" id="room1">
            <div class="roomimage">
              <div class="roomname">
                <p>토익 900</p>
              </div>
            </div>
          </div>

          <div class="room" id="room2">
            <div class="roomimage">
              <div class="roomname">
                <p>중간고사 D-20</p>
              </div>
            </div>
          </div>

          <div class="room" id="room3">
            <div class="roomimage">
              <div class="roomname">
                <p>토익 900</p>
              </div>
            </div>
          </div>

          <div class="room" id="room4">
            <div class="roomimage">
              <div class="roomname">
                <p>토익 900</p>
              </div>
            </div>
          </div>



          <div class="room" id="room5">
            <div class="roomimage">
              <div class="roomname">
                <p></p>
              </div>
            </div>
          </div>

          <div class="room" id="room6">
            <div class="roomimage">
              <div class="roomname">
                <p></p>
              </div>
            </div>
          </div>

          <div class="room" id="room7">
            <div class="roomimage">
              <div class="roomname">
                <p></p>
              </div>
            </div>
          </div>

          <div class="room" id="room8">
            <div class="roomimage">
              <div class="roomname">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  </html>
