<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/main2.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Search</title>
    <script defer src="/js/index.js"></script>
</head>
<body>
  <div class="search-container">
    <div id="searchbar">
      <input type="text" id="searchinput" placeholder="room name or cateogory">
      <button id="searchbtn">Search</button>
    </div>
    
  </div>
  <div id="search-room-box">
    <div id="search-room-list">
      <div id="room-result">
        <div id="room-img"></div>
        <p>중간고사</p>
      </div>
      <div id="room-result">
        <div id="room-img"></div>
        <p>중간고사</p>
      </div>
      <div id="room-result">
        <div id="room-img"></div>
        <p>중간고사</p>
      </div>
    </div>
    <div id="search-room-list">
      <div id="room-result">
        <div id="room-img"></div>
        <p>중간고사</p>
      </div>
      <div id="room-result">
        <div id="room-img"></div>
        <p>중간고사</p>
      </div>
      <div id="room-result">
        <div id="room-img"></div>
        <p>중간고사</p>
      </div>
    </div>
  </div>
</body>
</html>