*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  font-family:sans-serif;

}

body {
  background-image: #34495e;
}

.loginForm {
  position:absolute;
  background-color:#FFFFFF;
  text-align:center;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size:40px;
}

.loginForm h2{
  text-align: center;
  margin: 30px;
}

.loginForm p{
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #2E3A59;
}

.signupForm {
  position:absolute;
  background-color:#FFFFFF;
  text-align:center;
  margin-top: 800px;
  left:50%;
  transform: translate(-50%,-50%);
  font-size:40px;
}

.signupForm h2{
  text-align: center;
  margin: 30px;
}

.signupForm p{
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: #2E3A59;
}

.mainForm {
  position:absolute;
  width:450px;
  height:400px;
  padding: 30px, 20px;
  background-color:#FFFFFF;
  text-align:center;
  top:30%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 15px;
  font-size:40px;
}
.idForm{
  margin: 25px;
  padding: 10px 10px;
}

.rnForm{
  border-bottom: 2px solid #adadad;
  margin: 10px;
  padding: 10px 10px;
}

.passForm{
  margin: 25px;
  padding: 10px 10px;
}

.join{
  margin-top: 8px;
  padding-left:14px;
  background: #EDF1F7;
  border: 1px solid #C5CEE0;
  border-radius: 8px;
  Width :384px;
  Height :48px;
}

.id {
  margin-top: 8px;
  padding:14px;
  background: #EDF1F7;
  border: 1px solid #C5CEE0;
  border-radius: 8px;
  Width :384px;
  Height :48px;
}

.pw {
  margin-top: 8px;
  padding:14px;
  background: #EDF1F7;
  border: 1px solid #C5CEE0;
  border-radius: 8px;
  Width :384px;
  Height :48px;
}

.btn {
  position:relative;
  left:42.3%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width: 384px;
  height: 48px;
  background-color: #192038;
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  font-size:14px;
  border-radius: 8px;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
}
.btn:hover {
  background-position: right;
}

.btn2 {
  position:relative;
  left:40%;
  transform: translateX(-50%);
  margin-bottom: 40px;
  width: 384px;
  height: 48px;
  background-color: #192038;
  background-position: left;
  background-size: 200%;
  color:white;
  font-weight: bold;
  font-size:14px;
  border-radius: 8px;
  cursor:pointer;
  transition: 0.4s;
  display:inline;
}
.btn2:hover {
  background-position: right;
}


.bottomText {
  text-align: center;
  font-size: 14px;
}
