*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 1100px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

html,body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background: darkgray;
}

#main-container-left{
    width: 80%;
}
#navbar{
    height: 7%;
    width: 100%;
    background-color: black;
}
#nav-left{
    width: 20%;
}
#nav-center1{
    width: 60%;
    justify-content: center;
}
/* #nav-center2{
    width: 30%;
    justify-content: center;
} */
#nav-right{
    width: 20%;
    justify-content: flex-end;
}
.nav-button{
    width: 40px;
    height: 40px;
    background:none;
    border-style: none;
    margin: 0 20px;
    outline: 0;
}
.nav-icon{
    color: white;
}
.nav-icon:hover{
    cursor: pointer;
}

#video-grid{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 93%;
}
#video-grid video{
    width: 50%;
}

#main-container-left {
    background: rgb(43, 42, 42);
}

#main-container-right{
    width: 20%;
    /* height: 100%; */
}

/* #my-cam-container{
    width: 100%;
    height: 30%;
}*/
#my-cam{
    /* width: 100%;
    height: 100%;
    background-color: black; */
    /*filter: blur(10px);*/
} 

.over{
    z-index: 1;
}
.under{
    z-index: -1;
}

.active-red svg{
    color: tomato;
}
.active-green svg{
    color: rgb(158, 235, 143);
}

.swal-footer {
    text-align: center;
}

#notice{
    background-color: whitesmoke;
    border:2px solid gray;
    height: 20%;
}

#noticeT{
    font-weight: bold;
    font-size: 24px;
    text-decoration: underline; 
    text-underline-position:under;
    text-align: center;
}

#notice p{
    margin: 15px;
}

#title{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

@media (min-width: 0px) {
    /* You can add global styles to this file, and also import other style files */

#stopwatch{
        /* box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: #f1f1f1;
        color: #414142;
        position: relative;
        font-family: monospace; */
        background-color: #f1f1f1;
    }


button {
    text-align: center;
    cursor: pointer;
}

    /* Generic Button */

button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

button:focus {
    outline: none;
    border: none;
}

button:focus {
    outline: 0;
}


button:active {
    outline: none;
}

.hide-element {
    display: none;
}

.container {
    width: 100%;

    display: -webkit-flex;
    /*targeting Chrome & Safari*/
    display: -ms-flex;
    /*targeting IE10*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elapsed-time-text {
    text-align: center;
    font-size: 40px;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.buttons-container {
    width: 240px;
    margin-top: 68px;
    display: -webkit-flex;
    /*targeting Chrome & Safari*/
    display: -ms-flex;
    /*targeting IE10*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #6ab135;
    height: 40px;
    width: 105px;
    color: #6C6488;
    font-size: 27px;
    color: white;
    font-family: monospace;
    border-color: #00800012
}

#stop-button {
    display: none;
}
}

