*{
    margin: 0px;
    padding: 0px;
  }

body{
    font-family: 'Montserrat', sans-serif;
}

#search{
    top:200%;
    position: absolute;
    text-align: center;
    left:50%;
    transform: translate(-50%, 0%);
}

#searchtxt{
  margin-top:10%;
  text-align: center;
  margin-bottom: 20%;
}

#searchtag{
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #23A6F0;
}

#searchtitle{
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 10px 0px;
}

#searchsubtitle{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 10px 0px;
}

#searchbar{
  margin-bottom: 50px;
  height: 50px;
  width: 680px;
}

#searchinput{
  background: #F9F9F9;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px; 
  padding:15px 20px;
  width: 100%;
  height: 100%;
  color: #737373;
  float: left;
}

#searchbtn{
  background: #23A6F0;
  border: 1px solid #E6E6E6;
  position: relative;
  height: 50px;
  width: 100px;
  outline: none;
  float: right;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
  top: -50px;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  font-weight: 400;
  box-sizing: border-box;
}

/* Search.html */
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.roomMainBox{
    overflow: hidden;
    overflow-y: scroll;
    width: 1380px;
    height: 600px;  
}
#roomResultBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position:relative;
    text-align: start;
    margin-top: 100px;
}
#searchedRoom{
    width: 354px;
    height: 323px;
    margin: 0px 50px;
}

#roomResultBox p{
    margin-top: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
#roomImg{
    background-color:antiquewhite;
    width: 354px;
    height: 236px;
    border-radius: 12px;
}
#search-footer{
    height: 54px;
    padding: 50px;
    border-top: 1px solid #333333;
}

#search-footer p{
    text-align: start;
    font-weight: normal;
    font-size: 16px;
}